.card {
    width: 275px;
    background-color: rgba(255, 255, 255, 0.422);
    padding: 1rem;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.25s;
}

.card:hover{
    transform: scale(1.1);
}

.avatar {
    width: 125px;
    border-radius: 50%;
}

.title {
    margin: 10px 0 5px;
    font-size: 1.5rem;
}